.mypage_wrap {
  width: 1200px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  gap: 20px;
}

.mypage_aside {
  width: 180px;
  height: 600px;
  padding: 24px 10px;
  background-color: var(--gray8);
  border-radius: 8px;
  border: 1px solid var(--gray6);
}

.mypage_content {
  width: 1000px;
  padding: 32px;
  background-color: var(--gray8);
  border-radius: 8px;
  border: 1px solid var(--gray6);
}

.side_menu {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.side_menu > .active_menu {
  color: var(--primary);
}

.admin_line {
  border-top: 1px solid var(--border);
}
