<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.deli2matching.dao.DeliveryDao">

    <select id="getList" resultType="deliveryList">
        SELECT
            post_id,
            restaurant_name,
            target_members,
            current_members,
            minutes_until_deadline
        FROM v_delivery_posts

        <where>
            minutes_until_deadline > 0

            <if test="location != null and location != ''">
                AND pickup_location LIKE CONCAT('%', #{location}, '%')
            </if>

            <if test="keyword != null and keyword != ''">
                AND restaurant_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>

        <choose>
            <!-- 최신순 -->
            <when test="order == 0">
                ORDER BY created_at DESC
            </when>

            <!-- 마감 임박순 -->
            <when test="order == 1">
                ORDER BY minutes_until_deadline ASC
            </when>

            <!-- 기본값: 최신순 -->
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>

        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getListCount" resultType="int">
        SELECT COUNT(*)
        FROM v_delivery_posts
        <where>
            minutes_until_deadline > 0

            <if test="location != null and location != ''">
                AND pickup_location LIKE CONCAT('%', #{location}, '%')
            </if>

            <if test="keyword != null and keyword != ''">
                AND restaurant_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <insert id="createDelivery" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO delivery_posts (host_user_id, restaurant_name, target_members, pickup_location, detail_location, memo, deadline_at)
        VALUES ( #{userId}, #{restaurantName}, #{targetMembers}, #{pickupLocation}, #{detailLocation}, #{memo}, #{deadlineAt})
    </insert>

    <insert id="joinDelivery">
        INSERT INTO post_participants (post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <select id="deliveryView" resultType="deliveryView">
        SELECT
            host_user_id,
            restaurant_name,
            target_members,
            current_members,
            pickup_location,
            detail_location,
            memo,
            minutes_until_deadline,
            status

        FROM v_delivery_posts
        WHERE post_id = #{postId}
    </select>

    <select id="getParticipants" resultType="participant">
        SELECT
            u.user_id,
            u.nickname

        FROM post_participants p
        INNER JOIN users u
            ON p.user_id = u.user_id
        WHERE post_id = #{postId}
    </select>

    <select id="getHostUserId" resultType="long">
        SELECT host_user_id
        FROM delivery_posts
        WHERE post_id = #{postId}
    </select>

    <delete id="deleteDelivery">
        DELETE FROM delivery_posts
        WHERE post_id = #{postId}
    </delete>

    <delete id="deleteJoin">
        DELETE FROM post_participants
        WHERE post_id = #{postId} AND user_id = #{userId}
    </delete>

    <update id="addCurrentMembers">
        UPDATE delivery_posts
        SET current_members = current_members + 1
        WHERE post_id = #{postId}
    </update>

    <update id="subtractCurrentMembers">
        UPDATE delivery_posts
        SET current_members = current_members - 1
        WHERE post_id = #{postId}
    </update>

    <select id="getMyJoin" resultType="deliveryList">
        SELECT
            v.post_id,
            v.restaurant_name,
            v.current_members,
            v.target_members,
            v.minutes_until_deadline

        FROM post_participants p
        INNER JOIN v_delivery_posts v
            ON p.post_id = v.post_id
        WHERE user_id = #{userId}
    </select>

    <select id="existsParticipantByUserId" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM post_participants
            WHERE user_id = #{userId}
        )
    </select>

</mapper>
